<div data-martian-rover-command-panel>
    <input type="text" @bind="Command" data-martian-rover-command-input />
    <button data-martian-rover-send-command-action disabled="@(NePeutPasSaisir())">Envoyer</button>
</div>

@code {
    // TODO : extraire logique dans un razor.cs
    
    [Inject]
    public ICommandValidator  CommandValidator {get;set;}

    public string Command {get;set;}

    // TODO : cleanup, commandValidator doit toujours etre présent
    public bool NePeutPasSaisir() =>(!CommandValidator?.Validate(Command))??true;
}