@using MartianRover.Application
<div data-martian-rover-command-panel>
    <input type="text" @bind="Command" data-martian-rover-command-input />
    <button data-martian-rover-send-command-action disabled="@(NePeutPasSaisir())">Envoyer</button>
</div>

@code {

    [Inject]
    public ICommandValidator  CommandValidator {get;set;}

    public string Command {get;set;}

    public bool NePeutPasSaisir() => (!CommandValidator?.Validate(Command))??true;
}